.center {
    text-align: center;
    font-size: x-large;
}

.center a {
    color: white;
    font-size: medium;
}

.photo {
    height: 80px;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 5em;
}

.icon {
    margin-right: 5px;
}

address a {
    color: white;
    text-decoration: none;
}

address a:hover {
    color: #4FBBEB;
}

.contact-links a {
    display: flex;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

.contact-links a:hover {
    color: #4FBBEB;
}