:root {
    --hero-section-primary-color: #ED6F33;
    --hero-section-hover-color: #4FBBEB;
    --hero-section-text-color: #333;
    --hero-section-bg-opacity: 0.75;
}

.hero {
    text-align: center;
    padding: 4rem 2rem;
    background: url('../assets/images/Images\ Resize.png') center/cover no-repeat;
    color: var(--hero-section-text-color);
}

.wrapper {
    display: flex;
    justify-content: center;
}

.contrast-element {
    background-color: rgba(255, 255, 255, var(--hero-section-bg-opacity));
    border-radius: 0.375rem;
    padding: 2rem 4rem;
    margin: 15vh auto;
    max-width: 90%;
}

.hero h1 {
    margin-bottom: 1rem;
}

.hero img {
    max-height: 220px;
}

.hero p {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.hero button {
    width: 10rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: var(--hero-section-primary-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#link {
    color: white;
    text-decoration: none;
}

.hero button:hover {
    background-color: var(--hero-section-hover-color);
}

@media (max-width: 768px) {
    .contrast-element {
        padding: 1.5rem 2rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}