.testimonials {
    padding: 2rem;
    background-color: var(--background-color);
    max-width: 1600px;
    margin: 0 auto;
}

.testimonials h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: var(--main-black);
}

.testimonial-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial-card {
    flex: 1 1 30%;
    margin: 1rem;
    padding: 1.5rem;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.testimonial-card p {
    font-style: italic;
    margin-bottom: 1rem;
    color: var(--main-black);
}

.testimonial-card h3 {
    margin: 0;
    color: var(--main-black);
}

@media (max-width: 1024px) {
    .testimonial-card {
        flex: 1 1;
    }
}

@media (max-width: 768px) {
    .testimonial-card {
        flex: 1 1 100%;
    }
}