/* gallery.css */

/* Gallery container styles */
.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Navigation button styles */
.nav-button {
    background: none;
    border: none;
    border-radius: 10%;
    background: rgba(255, 255, 255, 0.5);
    color: rgb(2, 2, 2);
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.nav-button.left {
    left: 20px;
}

.nav-button.right {
    right: 20px;
}

.nav-button:disabled {
    color: rgb(255, 255, 255);
    cursor: not-allowed;
}

/* Gallery styles */
.gallery {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    margin: 0 auto;
}

/* Gallery item styles */
.gallery-item {
    width: calc(50% - 20px);
    /* Adjust width for responsive grid */
    min-width: 150px;
    max-width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
    border-radius: 8px;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

/* Modal styles */
.image-modal {
    position: relative;
    width: auto;
    /* Auto width to fit the content */
    max-width: 90vw;
    /* Maximum width relative to the viewport width */
    max-height: 90vh;
    /* Maximum height relative to the viewport height */
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* Ensures images are contained within the modal */
}

.modal-image {
    width: 100%;
    height: auto;
    /* Auto height to maintain aspect ratio */
    max-width: 100%;
    /* Ensure image does not exceed modal width */
    max-height: calc(90vh - 80px);
    /* Adjusted max height for modal content */
    object-fit: contain;
    /* Maintain aspect ratio without cropping */
    border-radius: 8px;
}

.close-button {
    position: absolute;
    top: 25px;
    right: 25px;
    background: none;
    color: black;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    /* Dark semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Tablet Styles */
@media screen and (max-width: 768px) {
    .nav-button {
        font-size: 1.5rem;
    }

    .gallery-item {
        width: calc(33.33% - 20px);
        min-width: 100px;
        max-width: 200px;
        height: auto;
    }
}

/* Mobile Styles */
@media screen and (max-width: 480px) {
    .nav-button {
        font-size: 1rem;
    }

    .gallery-item {
        width: calc(50% - 10px);
        min-width: 80px;
        max-width: 150px;
    }
}