.hero {
    text-align: center;
    padding: 4rem 2rem;
    background: url('/Users/kalebrupe/Desktop/Zachs Project/santa-cruz-sun/src/assets/images/FB_IMG_1609818258950_Original.jpeg') center no-repeat;
    background-size: cover;
    color: black;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.contrast-element {
    background-color: rgb(255, 255, 255, 0.75);
    background-size: cover;
    border-radius: 6px;
    padding: 2rem 4rem;
    margin: 15vh;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.hero button {
    width: 10rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #ED6F33;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#link {
    color: white;
    text-decoration: none;
}

.hero button:hover {
    background-color: #4FBBEB;
}